<html>
<head>
    <meta charset="UTF-8">
    <title>马西骑的相册</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__ROOT__/public/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ROOT__/public/CSS/Public.css">
    <link rel="stylesheet" href="__ROOT__/public/CSS/Album.css">
    <script src="__ROOT__/public/JS/Public.js"></script>
    <script src="__ROOT__/public/JS/jquery-2.1.1.min.js"></script>
    <script src="__ROOT__/public/JS/bootstrap.min.js"></script>
</head>
<body class="home-template">

<!--nav-->
<nav role="navigation" class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="__APP__/Index/index.html">Ma's Note</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mytab" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="mytab">
            <ul class="nav navbar-nav">
                <li><a href="__APP__/Index/index.html">转载</a></li>
                <li><a href="__APP__/Note/index.html">技术笔记</a></li>
                <li><a href="__APP__/Diary/index.html">日记本</a></li>
                <li  class="active"><a href="__APP__/Album/index.html">相册</a></li>
                <li><a href="__APP__/Resume/index.html">简历</a></li>
            </ul>
            <!--            <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="请输入内容">
                            </div>
                            <button class="btn btn-default">搜索</button>
                        </form>-->
        </div>
    </div>
</nav>

<!--content-->
<div class="container">
    <div class="study">
        <h3>博主目前还没有上传任何照片哦</h3>
        <!--<p class="lead" style="font-family: '微软雅黑', '黑体'">只要努力学习，你就赢在了起跑线</p>-->
    </div>
</div>
<!--end-->
</body>
</html>